.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.active {
  background-color: #225470;
  color: #fff;
}

/* Plus Button for adding New Users Bottom Right */
.box {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin-bottom: 30px;
}
